.container {
    height: 900px;
}

h1 {
    background-color: rgb(25, 32, 32);
    color: #ffffff;
    height: 50px;
    padding: 65px 300px 65px 550px;
    font-size: 50px;
}

img {
    position: absolute;
    z-index: 2;
    height: 250px;
    right: auto;
    margin: 0px 200px;
}

.datos {
    position: relative;
    height: 70px;
    background-color: rgb(182, 182, 182);
    padding: 0px 50px 0px 450px;
    top: -34px;
}

h2 {
    display: inline-block;
    font-size: 14px;
    margin: 30px 50px 30px 5px;
}

.DescPer {
    height: 300px;
    width: 750px;
    margin: 40px 55px;
    position: relative;
    top: -25;
}

h3 {
    margin: 0px 0px 15px 100px;
    font-size: 25px;
    text-decoration: underline;
}

p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 15px;
    margin: 0px;
}

.Columna {
    background-color: rgb(255, 229, 173);
    position: absolute;
    left: 900px;
    top: 257px;
    height: 720px;
    width: 440px;
    padding: 120px 0px 0px 0px;
}

.Est {
    width: 750px;
    margin: 40px 55px;
    position: relative;
    top: -25;
}

.Exp {
    width: 750px;
    margin: 40px 55px;
    position: relative;
    top: -25;
}

ul {
    margin: 15px 120px;
}

li {
    font-size: 20px;
    text-align: justify;
    padding: 0px 20px 10px 0px;
}

.Hob {
    background-color: rgb(25, 32, 32);
    color: #ffffff;
    position: relative;
    top: -44px;
    padding: 30px 200px 30px 200px;
}